# Node.js
node_modules/
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# IDE and Editor
.vscode/
.idea/
*.sublime-workspace

# Build Files
dist/
build/

# Temp Files
*.tmp
*.temp

# Testing
coverage/

